.loginPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);

  &__picture {}

  &__form {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    text-align: center;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: var(--b-primary);

    .form-options {
      display: flex;
      gap: var(--spacing-lg);
      margin-top: var(--spacing-md);
    }

  }

  &__register {
    display: flex;
    gap: var(--spacing-md);

    a {
      border-bottom: var(--b-primary);
    }
  }
}
