.adoptionPets {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 6rem 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  &__header {
    h2 {
      font-size: var(--fs-subtitle);
      text-align: center;
    }
  }

  &__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    overflow: hidden;

    &--card {
      aspect-ratio: 3 / 4;
      width: 100%;
      height: auto;
      overflow: hidden;
      position: relative;
      border: var(--b-primary);
      border-radius: var(--br-md);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .card-content {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: flex-end;
        opacity: 0;
        padding: 1rem;
        background: linear-gradient(to top, rgba(10, 10, 10, 0.8), transparent);
        transition: 300ms ease;
        color: var(--c-light);

        label {
          font-size: var(--fs-lg);
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 6rem 5%;
  }

  @media screen and (max-width: 1200px) {
    padding: 4rem 5%;
  }

  @media screen and (max-width: 768px) {
    padding: 4rem 5%;
    gap: 2rem;

    &__gallery {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}
