.shelterNav {
  min-width: 250px;
  min-height: 100vh;
  // background: #D7A6B3;
  // background: #F3C6D2;
  background: pink;

  // border-right: var(--b-primary);
  // border: 1px solid blue;
  // max-width: 1600px;
  // width: 100%;
  // margin-inline: auto;
  // padding: 2rem 5%;
  // gap: 4rem;

  &__logo {
    height: 150px;
    border-bottom: var(--b-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 1rem;

    img {
      max-width: 180px;
      margin-left: -1rem;
    }
  }

  &__menu {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    ul {
      // display: flex;
      // gap: var(--spacing-md);
      // font-family: var(--ff-inter);
      // font-size: var(--fs-md);
      // font-weight: medium;

      li {
        border-bottom: var(--b-primary);
        height: 55px;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;

        a,
        button {
          border-bottom: var(--b-primary);
        }
      }
    }
  }
}
