@import "./variables.scss";
@import "./fonts.scss";
@import "./pages/auth/layout.scss";
@import "./pages/auth/login.scss";
@import "./components/layout/navbar.scss";
@import "./components/layout/footer.scss";
@import "./components/common/input.scss";
@import "./components/common/button.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--ff-playfair);
  color: var(--c-text);
  background: var(--c-light);
}

p {
  text-wrap: pretty;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
