.shelterLayout {

  // width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.shelterPanel {
  &__header {
    height: 150px;
    border-bottom: var(--b-primary);
    display: flex;
    align-items: center;
    padding: 0 4rem;

    h1 {
      font-size: var(--fs-subtitle);
      font-weight: 400;
    }
  }

  &__body {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 1200px;

    &--row {
      h2 {
        font-size: var(--fs-xl);
        font-weight: 400;
        margin-bottom: 1rem;
      }

      .row-table {
        border: var(--b-primary);
        border-radius: var(--br-sm);
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        span {
          border-bottom: var(--b-primary);
          border-right: var(--b-primary);
          height: 50px;
          display: flex;
          align-items: center;
          padding: 0 1rem;

          &:nth-last-child(1) {
            border-bottom: none;
          }

          &:nth-last-child(2) {
            border-bottom: none;
          }

          &:nth-child(2n) {
            border-right: none;
          }
        }
      }
    }
  }
}
