.shelterLayout {

  // width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.shelterPanel {
  &__header {
    height: 150px;
    border-bottom: var(--b-primary);
    display: flex;
    align-items: center;
    padding: 0 4rem;

    h1 {
      font-size: var(--fs-subtitle);
      font-weight: 400;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100% - 150px);
    // padding: 4rem;
    // max-width: 1200px;

    &--main {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .main-activity {
        border: 1px dashed gray;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        border-radius: var(--br-sm);
        background: pink;
      }

      .row-main {
        h2 {
          font-size: var(--fs-xl);
          font-weight: 400;
          margin-bottom: 1rem;
        }

        .row-table {

          background: pink;
          border: var(--b-primary);
          border-radius: var(--br-sm);
          width: 100%;

          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;

          .table-item {
            border-bottom: var(--b-primary);
            border-right: var(--b-primary);
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            gap: .7rem;

            span {
              margin-top: -4px;
            }

            &:nth-last-child(1) {
              border-bottom: none;
            }

            &:nth-last-child(2) {
              border-bottom: none;
            }

            &:nth-child(2n) {
              border-right: none;
            }
          }
        }
      }

      border: 1px solid blue;
    }

    &--aside {
      height: 100%;
      border: 1px solid red;
    }

    &--nav {
      display: flex;
      gap: 1rem;
    }


  }
}
