.input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  .border {
    border-radius: var(--br-sm);
    border: 1px solid gray;
  }

  .error {
    border: 1px solid red;

    input {
      &::placeholder {
        color: red;
      }
    }
  }

  &__label {
    text-align: start;
  }

  &__content {
    display: flex;
    padding: 8px 8px;
    gap: var(--spacing-xs);
    cursor: text;

    input {
      width: 100%;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }
    }

    button {
      background: none;
      border: none;
      display: grid;
      place-content: center;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      background: rgba(100, 100, 100, .1);
    }
  }
}
